include LICENSE
include README.md
include requirements.txt
recursive-include autiobooksqta/resources *
recursive-include screenshots *
include autiobooksqta/models/en_core_web_sm-3.8.0-py3-none-any.whl